pre, code {
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
  font-size: 0.85em;
}

div.sourceCode {
  overflow: hidden !important;
}

pre > code.sourceCode > span {
  display: inline !important;
  text-indent: 0 !important;
  padding-left: 0 !important;
}
